$light-grey: #ebf1f5;

.icono {
	height: 1rem;
	margin: 0;
}

.item {
	display: flex;
	flex-direction: column;
	border-style: solid;
	border-color: $light-grey;
	border-radius: 10px;
	width: 7vw;
	margin-top: 2vh;
	margin-right: 0.3vw;
	height: 14vh;

	&__img {
		align-self: flex-end;
		margin: 0.3rem;
		margin-bottom: 0;
	}

	&__resume {
		display: flex;
		flex-direction: column;
		font-size: 0.8rem;
		margin: 0.8rem;
		margin-top: 0;

		&__price {
			font-size: 1.5rem;

			&_sol {
				font-size: 0.8rem;
			}
		}
	}
}
