.container {
	display: flex;
	height: 100vh;
	width: 100vw;
	background-image: url(../../images/Illustration-1.png);
	background-position-x: 15vw;
	background-position-y: 10vh;
	background-repeat: no-repeat;
	z-index: 1;
}

.container__left {
	background-image: url(../../images/Base.png);
	width: 30vw;
	height: 100vh;
	background-size: cover;
	background-position: bottom;
	z-index: -1;
}

.message {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 35vw;
	font-weight: lighter;
	margin-left: 20vw;

	&__title {
		font-size: 3rem;
		font-family: Arial, Helvetica, sans-serif;
	}

	&__blue {
		font-weight: bold;
		color: #1e90ff;
	}

	&__p {
		text-align: justify;
	}

	&__button {
		height: 50px;
		width: 180px;
		border-radius: 10px;
		color: #fff;
		background-color: #1e90ff;
		border: none;
		outline: none;
		cursor: pointer;
		margin-top: 2rem;
		align-self: flex-end;
	}
}
