.info__user {
	display: flex;
	flex-direction: column;
	padding: 20px;
	margin-left: 13vw;
	justify-content: center;
	width: 25vw;
	font-weight: lighter;
}

.info__title {
	margin-bottom: 2rem;
}
.title {
	font-size: 1.8rem;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
}

.darker {
	font-weight: bold;
	color: #1e90ff;
}

.prueba {
	display: flex;

	&__select {
		width: 6vw;
		border-style: none;
		font-size: 1rem;
		outline: none;
		background: #fff;
		border-style: solid;
		border-color: #f4f7f9;
		margin-bottom: 1.5rem;
	}
}
.start__button {
	height: 50px;
	width: 180px;
	border-radius: 10px;
	color: #fff;
	background-color: #1e90ff;
	border: none;
	outline: none;
	cursor: pointer;
	margin-top: 2rem;
}
.terms__container {
	display: flex;
	font-size: 0.8rem;
	margin-bottom: 1.5rem;
	width: 20vw;
	text-align: left;
}

.terms {
	margin-left: 0.5rem;
}
