.container {
	display: flex;
	height: 100vh;
	width: 100vw;
	background-image: url(../../images/Illustration-1.png);
	background-position-x: 37vw;
	background-position-y: 17vw;
	background-repeat: no-repeat;
	z-index: 1;
}
